 #shaapp{
  	-webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow:         0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    width: 3000px;
    height: 100%;
    background-color: #8E2121;
  }

  #sha{
  	-webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    -moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    box-shadow:         0px 0px 18px 0px rgba(48, 50, 50, 0.48);
    margin-top: 10px;
    border-radius: 3px;
    background-color: white;
   
  }

  .logo{
  	height: 50px;
  	width: 210px;
  	margin-top: -12px;
  }
.panel-heading{
	background-color: #8E2121;
	color:white;
	font-weight: bolder;
}



#closecolor{
	color: black;
}

#closecolor:hover{
	color: #8E2121;
}

.btn{
  background-color: #8E2121;
}

