html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#tabla, #tablaT1{
    width: 100%;
    margin: 0 auto;
}
/*----------------CSS DE PÁGINA ERROR 404-------------------------*/

body{ 
  background-color: #E5E5E5; 
  }

#sha{

    -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 10, 10, 0.48);
    -moz-box-shadow:    0px 0px 18px 0px rgba(48, 10, 10, 0.48);
    box-shadow:         0px 0px 18px 0px rgba(48, 10, 10, 0.48);
    margin-top: 30px;
    width: 80%;
    border-radius: 7px;
    background-color: #FFFFFF;
   
  }

#color404{

  color: #BF5329;
}

#color403{

  color: #CBB956;
}

.errorTitu {
  color: #D1302D;
  margin: 0 10px;
  font-size: 40px;
  text-align: center;
}

.errorDesc{
  color: #D1302D;
  margin: 0 10px;
  font-size: 25px;

  text-align: center;
}

.errorContac {
  color: #8B8383;
  margin: 0 10px;
  font-size: 19px;
  text-align: center;
}

.viceTitulo{
  color: #3E3E3E;
}

#imgErrors
{
  width: 500px;
  height: 300px;
  border-radius: 7px;

}
/*-----------------------------//------------------------------------*/
#imgExcel{
  width: 20px;
  height: 20px;
}

#imgPdf
{
  width: 50px;
  height: 50px;
}

#colorBien
{
  color: #524848;
  font-size: 40px;
}

.aterisInst{
  color:#8E2121;
  font-size: 50px;
  position: absolute;
  margin-top: -10px
}

.requiredV{
  color: #8E2121;
  font-size:50px;
  position: absolute;
  margin-top: -16px;
  margin-left: -16px;
}

.form-estilo input, .form-estilo textarea {
    padding-right:30px;
}
.form-estilo input, .form-estilo textarea { 
   
    box-shadow: 0px 0px 10px #ccc, 0 20px 30px #eee inset;
    border-radius:4px;

}

.form-estilo input:focus, .form-estilo textarea:focus {
    background: #fff; 
    border:1px solid #5EA0F2; 
    box-shadow: 0 0 10px #5EA0F2; 
}

.moverIzq{
  margin-left: 15px;
}

#espaciar{
  margin-left: 40px;
  color: #8E2121;
}

#espaciarS{
  margin-left: 55px;
  color: #8E2121;
}


#espaciar2{
  margin-left: 27px;
}

#espaciar3{
  margin-left: 11px;
}

#espaciar4{
  margin-left: 20px;
}

#espaciar5{
  margin-left: 8px;
}

#espaciar6{
  margin-left: 3px;
}

#espaciar7{
  margin-left: 50px;
}

#espaciar8{
  margin-left: 33px;
  color: #8E2121;
}

#color{
 
  color: #8E2121;
}


#panelTitu{
height:50px;
}

#h5Titu{
margin-top:8px;
}

textarea {
  width: 100%;
}

.rojo{
  color:#8E2121;
}

#negro{
  font-weight: bold;
}


#tablaT2{
  width: 100px;
  height: 100px;
}
#colorInstruccion{
  color:#8E2121;
}

#letrasb{
  font-weight: bolder;
}

.negrita{
  font-weight: bolder;
}

 #banner{

  	height:100%;
  	width:100%;
}

li{
  list-style-type: none;
  font-weight: bolder;
}

 .separarcol{
 	margin-bottom: 2px;
 }

 .separar{
  margin-bottom: 25px;
 }

 .separar40{
margin-bottom: 40px;
 }

 #separar{
  margin-bottom: 25px;
 }

 #grupo{
  margin-top: 5px;
 }

 
.error{
	color:red;
}

#instruccion{
	color: #8E2121;
	font-weight: bolder;
}

#instruccionT1{
    color: #8E2121;
	font-weight: bolder;
    margin-left: -295px;
    margin-top: -7px;
}

#instruccionT2{
    color: #8E2121;
  font-weight: bolder;
  margin-top: -14px;
  margin-left: -377px;
}

.calendario{
  color:#8E2121;
}

.inputplaceholder::-webkit-input-placeholder{ 
  color: #A24040;
  opacity: 0.9;
  font-size: 13px;
}

.fechaplaceholder::-webkit-input-placeholder{ 
  color: #A24040;
  opacity: 0.9;
  font-size: 13px;
}

.btn{
  background-color: #8E2121;
}
#grupo
{
  margin-left: 14px;
}

#grupoProve
{
  margin-left: 1px;
  margin-top: 5px;
}
/*==================!DESVANECER MENSAJE¡==============*/

/*.desvanecer{
   
    top: 0;
    z-index: 1;
    opacity: 0;
    -webkit-animation: opaco 15s;
    -moz-animation: opaco 15s;
}

@keyframes opaco{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@-webkit-keyframes opaco{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@-moz-keyframes opaco{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}*/


