.separar{
	margin-bottom: 15px;
}

.borde{
 
  border: 2px solid #8E2121;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 1138px;
  margin-left: 1px;
  padding: 20px;

}

#colorletra{
	color:white;

}

.btn{
	background-color: #8E2121;
}


